name: Hugo Format
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11.5
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.5
    - name: Install dependencies
      id: install
      run: |
        make install
    - name: Format code
      id: format
      run: |
        make format